<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>添加用户</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css"/>
    <style>
        body{
            background-color: #eeeeee;
        }
        .login_head{
            height: 50px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row login_head"></div>
    <div class="row login_middle">
        <div class="alert alert-danger" role="alert" th:if="${msg != null}" th:text="${msg}">...</div>
        <form class="form-inline" action="/user/add" method="post">
            <div class="form-group">
                <label for="userName">用户名</label>
                <input type="text" class="form-control" id="userName" name="userName" placeholder="请填写用户名"/>
            </div>
            <div class="form-group">
                <label for="userType">请选择用户类型</label>
                <select name="userType" id="userType" class="form-control">
                    <option value="2" selected="selected">专业的耳朵</option>
                    <option value="1">管理员</option>
                    <option value="0">超级管理员</option>
                </select>
            </div>
            <div class="form-group">
                <label for="userType">请选择用户标签权限</label>
                <input type="checkbox" name="userAuthority" value="1"/> 基础
                <input type="checkbox" name="userAuthority" value="2"/> 理性
                <input type="checkbox" name="userAuthority" value="3"/> 感性
            </div>
            <button type="submit" class="btn btn-primary">提  交</button>
        </form>
    </div>
    <div class="row"></div>
</div>

<script th:src="@{/js/jquery.min.1.12.4.js}" src="/js/jquery.min.1.12.4.js" ></script>
<script th:src="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js" ></script>

</body>
</html>