<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Song</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css"/>
    <style>
        body{
            background-color: #eeeeee;
        }
        .login_head{
            height: 30px;
            margin-bottom: 10px;
        }
        .pagination{
            float: left;
            margin-left: 25%;
        }
        .form-inline{
            float: left;
            margin: 0px 10px;
        }
        .btn-success{
            margin-top: 5px;
        }
        .btn-label{
            margin-left: 5px;
        }
        .song_labels_btn{
            margin-top: 3px;
            margin-left: 3px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 3px;
            padding-right: 3px;
            font-weight: 100;
            font-size: 11px;
        }
        table{
            font-size: 10px;
        }
        td{
            padding: 3px;
        }
        .dropdown{
            margin-top: 3px;
        }
        .dropdown-menu{
            height: 500px;
            overflow: auto;
        }
        .pagination > li > a, .pagination > li > span{
            padding: 6px 6px;
            font-size: 10px;
        }
        .label{
            font-weight: 100;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row login_head">

    <div class="row" style="margin-top: 10px; margin-left: 0px;">
        <div class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="keyword" name="keyword" th:value="${searchKeyword == 'nodata' ? '' : searchKeyword}" placeholder="请输入搜索信息"/>
            </div>
            <div class="form-group">
                <select class="form-control" name="searchType" id="searchType">
                    <option th:selected="${searchType == 0}" value="0">单曲名称</option>
                    <option th:selected="${searchType == 1}" value="1">专辑名称</option>
                    <option th:selected="${searchType == 2}" value="2">艺人名称</option>
                </select>
            </div>
            <button type="button" class="btn btn-default" id="searchBtn">搜索</button>
            <input type="hidden" name="searchKeyword" id="searchKeyword" th:value="${keyword}"/>
        </div>
        <button id="pushBtn" class="btn btn-default btn-sm" style="float: right;margin-right: 100px;margin-top: 5px;" >推送</button><button id="allPushBtn" class="btn btn-default btn-sm" style="float: right;margin-right: 5px;margin-top: 5px;" >全选</button>
    </div>
    </div>
    <div class="row login_middle">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 10%;">单曲Id</th>
                    <th style="width: 20%;">单曲名称</th>
                    <th style="width: 10%;">艺术家</th>
                    <th style="width: 20%;">专辑名称</th>
                    <th style="width: 15%;">已有标签</th>
                    <th style="width: 10%;">单曲状态</th>
                    <th style="width: 15%;">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="song : ${page.list}" style="height: 40px; line-height: 40px;">
                    <td ><div style="height: 23px; overflow: hidden;" th:text="${song.id}"></div></td>
                    <td class="songName" ><div style="height: 23px; overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" th:text="${song.songName}"></div></td>
                    <td><div style="height: 23px; overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" th:text="${song.artistName}"></div></td>
                    <td><div style="height: 23px; overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" th:text="${song.albumName}"></div></td>
                    <td><button th:if="${song.basicTag == 1}" type="button" class="btn btn-success btn-xs" style="margin-top: 0px;">基础</button>
                        <button th:if="${song.reasonTag == 1}" type="button" class="btn btn-primary btn-xs">理性</button>
                        <button th:if="${song.sensibilityTag == 1}" type="button" class="btn btn-info btn-xs">感性</button>
                    </td>
                    <td>
                        <div th:if="${song.songStatus == 0}" >等待推送</div>
                        <div th:if="${song.songStatus == 1}" >已推送</div>
                        <div th:if="${song.songStatus == 2}" >已分配</div>
                        <div th:if="${song.songStatus == 3 or song.songStatus == 5}" >待审核</div>
                        <div th:if="${song.songStatus == 4 or song.songStatus == 6}" >审核完毕
                            <button th:if="${song.auditResult == 'OK'}" type="button" class="btn btn-success btn-xs" style="margin-top: 0px;">通过</button>
                            <button th:if="${song.auditResult == 'PROBLEM'}" type="button" class="btn btn-warning btn-xs" style="margin-top: 0px;">有问题</button>
                        </div>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="playSong" th:value="${song.id}">播放</a> |
                        <a th:if="${song.songStatus == 4 || song.songStatus == 6}" th:href="@{'/song/check/' + ${song.id} + '/' + ${keyword} + '/' + ${searchType} + '/' + ${pageNo}}" th:value="${song.id}">审验标签</a> |
                        <a th:if="${song.songStatus == 0}" href="#" th:value="${song.id}">推送 <input type="checkbox" th:value="${song.id}"/></a> |
                        <a href="#" th:href="@{'/song/log/' + ${song.id} + '/' + ${searchType} + '/' + ${keyword} + '/' + ${page.pageNo}}">查看日志</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row page">
        <nav aria-label="...">
            <ul class="pagination" style="margin-top: 0px;">
                <li><a th:href="@{'/song/list/' + ${searchType} + '/' + ${keyword} + '/' + ${page.pre}}" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li th:each="i : ${#numbers.sequence(page.start,page.end)}"  th:class="${i == page.pageNo} ? 'active'" ><a th:href="@{'/song/list/'  + ${searchType} + '/' + ${keyword} + '/' + ${i}}" href="#" th:text="${i}"></a></li>
                <li><a th:href="@{'/song/list/'  + ${searchType} + '/' + ${keyword} + '/'  + ${page.next}}" href="#">&raquo;</a></li>
            </ul>
            <form class="form-inline">
                <div class="form-group">
                    <input style="width: 70px;" type="text" class="form-control" id="jumpPage" placeholder="页码"/>
                </div>
                <button type="button" class="btn btn-default" id="jump">跳转</button>
                <span class="label label-primary" style="font-size: 15px;" th:text="${'总计：' + page.totalCount + '条数据'}">Default</span>
                <span class="label label-primary" style="font-size: 15px;" th:text="${'共' + page.totalPageCount + '页'}">Default</span>
            </form>
        </nav>
    </div>
</div>
<script th:src="@{/js/jquery.min.1.12.4.js}" src="/js/jquery.min.1.12.4.js" ></script>
<script th:src="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js" ></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    (function($){
        $(function(){
            $(".songLabel").each(function(){
                var $_this = $(this);
                var songId = $(this).attr("value");
                $.ajax({
                        type:"GET",
                        url: "/label/song/" + songId,
                        success: function(data){
                            $.each(data,function(i, e){
                                var $btn = $("<button></button>").addClass("btn btn-success btn-label song_labels_btn").attr("type","button").text(e.labelName);
                                $_this.append($btn);
                            });
                        }
                    }
                );
            });
            $("#jump").on("click",function(){
                var jumpPage = $("#jumpPage").val();
                var patrn = /^[1-9][0-9]*$/;
                if(!patrn.exec(jumpPage)){
                    alert("数字有误！");
                    return;
                }
                window.location.href = "/song/list/"  + [[${searchType}]] + '/' + [[${keyword}]]  + '/'  + jumpPage;
            });
            $(".playSong").on("click", function(){
                var songId = $(this).attr('value');
                $(".playSong").each(function(){
                    var songName = $(this).parent().parent().find(".songName");
                    if(songName.find("img")[0]){
                        songName.find("img").remove();
                    }
                });
                var $_play = $("<img style='margin-left:10px;' width='18' height='18' src='/img/play1.png'/>");
                $(this).parent().parent().find(".songName").append($_play);
                $.ajax({
                    type:"GET",
                    url:"/song/" + songId,
                    success : function(data){
                        var audio_play = window.parent.audioFn;
                        /* 向歌单中添加新曲目，第二个参数true为新增后立即播放该曲目，false则不播放 */
                        audio_play.song = [];
                            audio_play.newSong({
                                'cover' : data.picUrl,
                                'src' : data.realAudioUrl,
                                'title' : data.id + " | " + data.songName + " | " + data.artistName,
                                'songId' : data.id
                            },true);
                    }
                });
            });

            $("#pushBtn").on("click",function(){
                var $pushItems = $("input:checked");
                if($pushItems.length < 1){
                    alert("请至少选择一首单曲！");
                    return;
                }
                var pushIds = "";
                $.each($pushItems,function(i, ele){
                    pushIds += ($(ele).val() + ",");
                });
                $.ajax({
                    type:"POST",
                    url : "/song/push",
                    data : "pushIds=" + pushIds,
                    success : function(data){
                        if(data == "success"){
                            window.location.reload();
                        }
                    }
                });
            });
            $("#allPushBtn").on("click",function(){
                $("input:checkbox").prop("checked", true);
            });

            $("#searchBtn").on("click", function(){
                var keyword = $("#keyword").val();
                var searchType = $("#searchType").val();
                if(keyword == ''){
                    keyword = 'nodata'
                }
                window.location.href = "/song/list/" + searchType + "/" + encodeURI(keyword) + "/" + 1;
            });

        });
    })(jQuery);
    /*]]>*/
</script>
</body>
</html>