<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Song</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/zTreeStyle.css}" href="/css/zTreeStyle.css" />
    <style>
        body{
            background-color: #eeeeee;
        }
        .login_head{
            height: 50px;
        }
        .login_middle{
            /*text-align: center;*/
            margin-top: 10px;
            border-top: 1px gainsboro solid;
        }
        .addLabel{
            margin-right: 2px;
            vertical-align: top;
            background-position: -145px -0px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row login_head">
        <div class="col-md-2">
            <h3>标签库</h3>
        </div>
        <div class="col-md-10" style="text-align: right;">

        </div>
    </div>
    <div class="row login_middle">
        <div>
            <ul id="labelTree" class="ztree"></ul>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.1.12.4.js}" src="/js/jquery.min.1.12.4.js" ></script>
<script th:src="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js" ></script>
<script th:src="@{/js/jquery.ztree.all.min.js}" src="/js/jquery.ztree.all.min.js" ></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    (function($){
        $(function(){
            var zTreeObj;
            var setting = {
                edit: {
                    enable: true,
                    showRenameBtn: true
                },
                view: {
                    addHoverDom: addHoverDom,
                    removeHoverDom: removeHoverDom

                },
                callback: {
                    onRemove: zTreeOnRemove,
                    beforeRemove: zTreeBeforeRemove,
                    beforeRename: zTreeBeforeRename,
                    onRename: zTreeOnRename,
                    onDrop: zTreeOnDrop,
                    beforeDrag: zTreeBeforeDrag
                }
            };

            var zNodes = [];
            var changeLabelName = function(label){
                label.name = label.labelName;
                label.open = false;
                if(label.sonLabels != null && label.sonLabels.length > 0){
                    label.children = label.sonLabels;
                    for(var i = 0; i < label.sonLabels.length; i ++){
                        changeLabelName(label.sonLabels[i]);
                    }
                }else{
                    return;
                }
            };
            $.ajax({
                type : "GET",
                url : "/label/label_list/all",
                success : function(data){
                    changeLabelName(data);
                    zNodes = data.sonLabels;
                    zTreeObj = $.fn.zTree.init($("#labelTree"), setting, zNodes);
                }
            });

            function addHoverDom(treeId, treeNode){
                var aObj = $("#" + treeNode.tId + "_a");
                if($("#labelTree_" + treeNode.tId + "_add").length > 0){return;}
                var $_span = $("<span/>").attr("class", "button addLabel").attr("id", "labelTree_" + treeNode.tId + "_add").attr("title","add");
                $_span.on("click",function(){
                    var newLabelId;
                    //异步添加节点
                    console.log(treeNode.id);
                    $.ajax({
                        type : "POST",
                        url : "/label/add/label",
                        data : "labelName=newNode&fId=" + treeNode.id,
                        success : function(data){
                            console.log(data);
                            newLabelId = data;
                            var newNode = {name : "newNode", pId: treeNode.tId, id:newLabelId};
                            var treeObj = $.fn.zTree.getZTreeObj(treeId);
                            newNode = treeObj.addNodes(treeNode, newNode);
                        }
                    });

                });
                aObj.append($_span);
            };
            function removeHoverDom (treeId, treeNode) {
                $("#labelTree_" + treeNode.tId + "_add").unbind().remove();
            };

            function zTreeBeforeRename(treeId, treeNode, newName, isCancel) {
                if(newName == "" || newName.length < 1){
                    alert("名称不能为空！");
                    return false;
                }
                return true;
            }

            function zTreeOnRename(event, treeId, treeNode, isCancel) {
                console.log("rename in...");
                $.ajax({
                    type : "POST",
                    url : "/label/edit/label",
                    data : "labelId=" + treeNode.id + "&labelName=" + treeNode.name,
                    success : function(data){
                        console.log(data);
                    }
                });
            }

            function zTreeBeforeDrag(treeId, treeNodes) {
                if(treeNodes[0].children == undefined || treeNodes[0].children == null || treeNodes[0].children.length < 1){
                    return true;
                }
                return false;
            };

            function zTreeOnDrop(event, treeId, treeNodes, targetNode, moveType, isCopy) {
                $.ajax({
                    type : "POST",
                    url : "/label/move/label",
                    data : "labelId=" + treeNodes[0].id + "&targetId=" + targetNode.id + "&moveType=" + moveType,
                    success : function(data){
                        console.log(data);
                    }
                });
            };


            function zTreeBeforeRemove(treeId, treeNode) {
                console.log(treeNode.children);
                if(treeNode.children != undefined){
                    alert("该标签下有子标签，请先删除子标签！");
                    return false;
                }
                return true;
            }

            function zTreeOnRemove(event, treeId, treeNode) {
                if(confirm("确认要删除此标签吗？")){
                    $.ajax({
                        type : "POST",
                        url : "/label/del/label",
                        data : "labelId=" + treeNode.id,
                        success : function(data){
                            if(data == "son"){
                                alert("该标签下有子标签，请先删除子标签！");
                            }else if(data == "song"){
                                alert("该标签已经被使用！");
                            }else if(data == "done"){
                                alert("删除成功！");
                            }
                        }
                    });
                }
            }
        });
    })(jQuery);
    /*]]>*/
</script>
</body>
</html>